# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Hanyu Pinyin Comparator
#email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Hanyu Pinyin sorting function in C that can be used stand-alone or as a SQLite3 custom collating function.
baseurl: "/pinyin-compare" # the subpath of your site, e.g. /blog
url: "https://ryanhomer.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: techrah
github_username:  ryanhomer
github: [metadata]

# Build settings
markdown: kramdown
theme: jekyll-theme-slate
plugins:
  - jekyll-feed

# Exclude from processing.
exclude:
  - build
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
